<%= simple_form_for(@course, :html =>  { :multipart => true }) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :company %>

  <%= f.simple_fields_for :file_attachment do |p| %>
    <%= p.input :file, as: :file, input_html: { name: "file_attachments[file][]", multiple: true } %>
  <% end %>


    <%= f.button :submit %>
<% end %>
