<div class="page-header">
  <h1><%= @course.name %> <small>by <%= @course.company %></small></h1>
</div>

  <% @course.file_attachments.each do |f| %>
    <%# <span class="glyphicon glyphicon-facetime-video"></span> <%= link_to base_name(f.file.url), f.file.url %1> %> 
  <%# <span class="badge"><%= show_file_size(f.file_size) %1></span> %>
  <%# </li> %>
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-facetime-video"></span> <%= link_to base_name(f.file.url), f.file.url %><span class="badge pull-right"><%= show_file_size(f.file_size) %></span></div>
  
    <div class="panel-body">
  <video id="example_video_1" class="video-js vjs-default-skin"
    controls preload="auto" width="640" height="264"
    data-setup='{"preload":false, "autoplay=false}'>
    <source src="<%= f.file.url %>" type='<%= video_content_type_for(f.content_type) %>' />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

    </div>
  </div>
<% end %>
<%# </ul> %>

<% if can? :edit, Course %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
